<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suidao.mapper.FileMapper">

    <resultMap id="BaseResultMap" type="com.suidao.pojo.File">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="originalname" column="originalname" jdbcType="VARCHAR"/>
            <result property="newname" column="newname" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,originalname,newname,
        url
    </sql>
</mapper>
