<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suidao.mapper.MonitorDictMapper">

    <resultMap id="BaseResultMap" type="com.suidao.pojo.MonitorDict">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="label" column="label" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,label,parent_id
    </sql>
</mapper>
